body {
    background-color: #1D3557;
    margin: calc(0.5rem + 1vw);
}

#title {
    background-color: #F1FAEE;
    position: static;
    width: 100%;
    height: calc(1rem + 5vw);
    border-radius: 10px;
    margin: 0px;
}